<!DOCTYPE html>

<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Progreso</title>
    <!-- Icons-->
    <link href="{{ static_url('node_modules/coreui/dist/vendors/@coreui/icons/css/coreui-icons.min.css') }}" rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="{{ static_url('node_modules/coreui/dist/css/style.css') }}" rel="stylesheet" />
    <link href="{{ static_url('node_modules/coreui/dist/vendors/pace-progress/css/pace.min.css') }}" rel="stylesheet" />
    {% block resources_header %}
    {% end %}
    <style>
        .main .container-fluid {
            padding: 0 15px;
        }

        .app-header .navbar-brand {
            width: 185px;
            font-size:1.6em;
            font-weight:bolder;
            color:#00004d;
            letter-spacing:2px;
            width: 185px;
        }
    </style>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            PROGRESO
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nav-icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_progress">
                            <i class="nav-icon fa fa-dot-circle-o"></i> Create
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <br>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    {% block main %}
                    {% end %}
                </div>
            </div>
        </main>
    </div>

    <!-- CoreUI and necessary plugins-->
    <script src="{{ static_url('node_modules/coreui/dist/vendors/jquery/js/jquery.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/popper.js/js/popper.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/pace-progress/js/pace.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ static_url('node_modules/coreui/dist/vendors/@coreui/coreui/js/coreui.min.js') }}"></script>
    <!-- Plugins and scripts required by this view-->
    {% block resources_footer %}
    {% end %}
</body>

</html>